body {
    background-color: #f9f9f9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
}

table {
    float: left;
    margin-bottom: 15px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}

table td {
	padding: 5px 15px;
	border: 1px solid #dddddd;
	text-align: center;
}

table tbody tr:nth-child(even){
	background: #fff;
}

table tbody tr:nth-child(odd){
	background: #F7F7F7;
}

.myChart {
    height: 70%;
    width: 70%;
    float: inline-end;
}

.infoButton {
    position: fixed;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
}

.menu {
    cursor: pointer;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

button {
    text-align: center;
    font-size:  11px;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    width:  100px;
    margin-bottom: 15px;
    cursor: pointer;

	border: 1px solid #dddddd;
    border-radius: 3px;
    color: rgba(0,0,0,0.7);
}

button:hover, button.hover {
    background: #fde3cc;
}